.status {
  text-align: center;
  font-size: 1.5rem;
  width: 150px;
  margin: auto;
}

.status .red {
  color: #f20;
}
.status .black {
  color: #000;
}
.status .equal {
  color: rgb(114, 114, 114);
}
.status .finish {
  border: 2px solid;
  border-radius: 5px;
}
